<div id="bottom">
  <div class="wrapper">
    <div class="left topposts">
      <h2>Today's Popular Topics <span>by # of unique viewers over past 24 hours</span></h2>
      <ul>
      </ul>
    </div><!-- .left -->
    <div class="right topposts">
      <h2>This Weeks's Popular Topics <span>by # of unique viewers over past 7 days</span></h2>
      <ul>
      </ul>
    </div><!-- .right -->
  </div><!-- .wrapper -->
</div><!-- #bottom -->
