<div class="boxy" id="news">
  <div class="boxy-header">
    <ul class="tabs">
      <li class="selected">
        <a href="#" onClick="return false;">
          <img class="sprite" style="width: 1.6em; height: 1.6em; left: .8em;" src="/include/images/sprites/sprite1014.gif" alt="Shiny Thing sprite" title="Shiny McGee brings you the day's news and good tidings! NOW PAY ATTENTION YOU LITTLE BRATS" />
          <span>Forum News</span>
        </a>
      </li>
    </ul>
  </div><!-- .boxy-header -->
  <div class="boxy-body">

  </div><!-- .boxy-body -->
</div><!-- .boxy#news -->