<div id="content">
  <div class="wrapper">
    <div class="tabley" id="generic">
      <h2>This page not yet implemented.</h2>
      <h2>Controller: <%= params[:controller] %></h2>
      <h2>Action: <%= params[:action] %></h2>
    </div>
  </div>
</div>
